.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: var(--gap);
  border: 1px solid transparent;
  border-bottom-color: var(--border-color);
  user-select: none;
  z-index: 0;
}

.container:not(.expired):not(.blocked) {
  cursor: pointer;
}

.container:hover {
  box-shadow: 0 0 2px var(--highlight-color);
  z-index: 1;
}

.expired:hover,
.blocked:hover {
  box-shadow: none;
}

.current {
  border-color: var(--highlight-color);
}

.expired {
  opacity: 0.7;
  border-bottom-color: transparent;
}

.blocked {
  background-color: var(--border-color);
}

.blocked .time {
  opacity: 0.4;
}

.user {
  color: white;
  background-color: var(--highlight-color);
  border-color: white;
  border-radius: 4px;
}

.user:hover {
  box-shadow: 0 0 8px var(--highlight-color);
}

.delete {
  font-size: 1.2rem;
  font-weight: bold;
  margin: -0.2em 0 0 1.4rem;
}
